<html>
<head>
  <title>Home page</title>

 
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/public/css/styleR.css">
</head>
<body>


  <div class="split left">
    <div class="overlay-text tara-text">
      <div class="logo"><img src="/public/images/logo1.png" alt="" id="logoimg"></div>
      <h1>TARA</h1>
      <p>Exploring the cosmos, one constellation at a time.</p>
    </div>
  </div>


  <div class="split right">
    <a class="section" href="/planetsinfo" style="background-image: url('/public/images/planets.jpg');">
      <div class="overlay-text section-text">PLANETS</div>
    </a>
    <a class="section" href="/constellations" style="background-image: url('/public/images/constellations.jpg');">
      <div class="overlay-text section-text">CONSTELLATIONS</div>
    </a>
    <a class="section" href="/quiz" style="background-image: url('/public/images/quiz.jpg');">
      <div class="overlay-text section-text">QUIZ</div>
    </a>
  </div>
  <div class="footer">
    <div class="text">

      <div class="name"><div><h1>Manaswi Rane</h1></div><div>241071061</div></div>
      <div class="name"><div> <h1>Ridhima Trivedi</h1></div><div>241071062</div></div>
      <div class="name"><div> <h1>Nihira Neralwar</h1></div><div>241071049</div></div>
     </div>
  </div>

</body>
</html>
