.header{
    background-color: black;
    height: 10vh;
    display: flex;
    position: fixed;
    top: 0;
    width: 50vw;
    height: 15vh;
    color: white;
}
#logo{
    height: 100%;
    object-fit: contain;
}
.text{
    padding: 20px;
    font-size: larger;
}