*{
    margin: 0;
    padding: 0;
   
}
.container{
    z-index: 999;
}

body{
    background-image: url("../assets/bgimg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.outer{
       background-color: rgba(0, 0, 0, 0.484);
       height: 100vh;
       width: 100vw;
       display: flex;
       align-items: center;
       justify-content: center;
}
.quizele{
    margin: 2vh;


}
.error{
    color: red;
}
.heading{
    font-family: 'Bebas Neue';
    font-size: 5vh;
}
#txt , #ip1 , #ip3{
    padding: 10px;
    border-radius: 100px;
    height: 4vh;
    width: 20vw;
}
div div{
    margin: 2vh;
}
button{
    color: white;
    background-color: black;
    padding:1vh;
    border-radius: 10px;

}