*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./assets/bgimg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.outer{
       background-color: rgba(0, 0, 0, 0.297);
       height: 100vh;
       width: 100vw;
       display: flex;
       align-items: center;
       justify-content: center;
}
.quizele{
    margin: 2vh;


}
.heading{
    font-family: 'Bebas Neue';
    font-size: 5vh;
}
#txt , #ip1 , #ip3{
    border-radius: 100px;
    height: 4vh;
    width: 20vw;
}
